@import '../../../App.scss';

.task-item {
  margin: 10px 0;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  position: relative;
  .ti-img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
    background-color: $color4;
  }
  .td-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .ti-details {
    margin-left: 12px;
    .ti-title {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
    }
    .ti-subtitle {
      margin: 0;
      font-size: 14px;
      color: #777;
      white-space: pre-wrap;
      overflow: hidden;
    }
  }
  .ti-score {
    right: 10px;
    top: 18px;
    display: flex;
    .app-btn {
      height: 15px;
    }
    .delete-button {
      background-color: transparent;
      border: none;
      text-decoration: none;
      outline: none;
      .delete-icon {
        color: red;
        margin: 0px;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }

  &:hover {
    background-color: #fafafa;
  }

  @media (max-width: 600px) {
    .ti-img {
      width: 68px;
      height: 68px;
    }
  }
}
