@import '../../App.scss';

.alert {
  position: absolute;
  top: 40px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 300px;
  height: 50px;
  border-radius: 2px;
  user-select: none;
  display: flex;
  justify-content: space-between;
  color: $color2;
  h3 {
    padding: 0 18px;
    font-weight: 600;
    font-size: 15px;
    margin: 16px 0;
  }
  .alert-cancel {
    padding: 0 18px;
    margin: 20px 0;
    font-size: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: $color2;
    cursor: pointer;
  }
}

.success {
  background-color: #4caf50;
}
.error {
  background-color: #f44336;
}

.warning {
  background-color: #fe9a3b;
}
